/* Menu Button Styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
}